/* Arrows */

/* Custom Slick Dots */

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.ft-slick__dots--custom {
  height: 8px;
  width: 10px;
  background-color: #e5e7e9;
  border-radius: 4px;
  position: relative;
}

.slick-dots .slick-active .ft-slick__dots--custom {
  width: 25px;
  top: 0px;
  overflow: hidden;

  .loading {
    height: 8px;
    animation: loading 3s ease-in;
    background-image: linear-gradient(270deg, #4fd15a, #03ac0e);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
}
