@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.skeleton-loader {
  @apply bg-gray-300 dark:bg-gray-700 animate-pulse;
}
