@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.skeleton-loader {
  @apply bg-gray-300 dark:bg-gray-700 animate-pulse;
}

.gradient-green-card {
  background: linear-gradient(to right, #ddf2c5, #c0edac);
}

.gradient-yellow-card {
  background: linear-gradient(to right, #f1efcf, #eee5c0);
}

.gradient-orange-card {
  background: linear-gradient(to right, #f1cebd, #f8b1b4); /* Gradient orange */
}
